<html xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Register - Sign In</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<link rel="stylesheet" type="text/css" href="/styles/master.css">

	<script type="text/javascript" src="/scripts/master.js" defer></script>
	<script type="text/javascript" src="/scripts/signIn.js" defer></script>
</head>
 
<body>

	<div class="header">
		<h1 class="primary-message">Sign In</h1>
	</div>

	<div id="main" class="main">
		<div id="error" th:class="${#strings.isEmpty(errorMessage)} ? hidden : ''">
			<h4 id="errorMessage" class="error-message" th:text="${errorMessage}"></h4>
		</div>

		<form action=employeeDetail.html method="POST" name="SignIn" class="inputContent" >
            EmployeeID: <input type="number" id="EmployeeId" name="EmployeeID" required />
            <br> 
            Password: <input type="password" id="Password" name="Password" required />
            <br>
            <input type="submit" value="Sign In"/> 
        </form>
        <div id ="error"> </div>
	</div>
<script>
    function validateForm()
    {
        var EmployeeID = document.forms["SignIn"]["EmployeeID"].value;
        var Password = document.forms["SignIn"]["Password"].value;

        if ((EmployeeID == '') && (Password == ''))
        {
            document.getElementById("error").innerHTML = "The Employee Id and Passwords fields must not be empty.";
            return false;
        }
        else if (EmployeeId == "")
        {
            document.getElementById("error").innerHTML = "The Employee Id field must not be empty.";
            return false;  
        } 
        else if (Password == "")
        {
            document.getElementById("error").innerHTML = "The Password field must not be empty.";
            return false;  
        }
            return true;
    }
</script>
</body>

</html>